/*_main.scss*/

.mainscreen {
	padding: 90px 0  200px 0;
	&__wrap{
		display: flex;
	}
	&__text{
		  width: 283px;
		  margin: 0 0 36px 45px;
		  font-family: OpenSans;
		  line-height: 1.33;
		  letter-spacing: normal;
		  color: #313131;
		  position: relative;
		  &::before{
		  	content: "";
		  	background-image: url('../img/icon/icon-clock.svg');
		  	width: 26px;
		  	height: 26px;
		  	position: absolute;
		  	top: 50%;
		  	margin-left: -45px;
		  	transform: translateY(-50%);
		  }
		  &-tittle{
		  	width: 510px;
		  	margin: 0 0 23px;
		  	font-family: Montserrat;
		  	font-size: 55px;
		  	font-weight: bold;
		  	line-height: 1.2;
		  	color: #282828;
		  }
	}
	&__btn {
		width: 270px;
		height: 61px;
		margin: 36px 240px 0 0;
		padding: 20px 31px 21px 30px;
		border-radius: 3px;
		background-color: #ffcf2d;
		display: block;
		font-family: OpenSans;
		font-size: 15px;
		font-weight: 600;
		font-stretch: normal;
		color: #282828;
		text-align: center;
	}
	&__img {
		max-width: 599px;
		max-height: 460px;
		margin-left: 61px;
		object-fit: contain;
	}
}


@media (max-width: 768px) {
  .mainscreen {
  		padding: 80px 0  80px 0;
  	&__wrap {
  		align-items: center;
  		justify-content: center;
  		text-align: center;
  	}
  	&__text {
  		justify-content: center;
  		margin: 0 auto;
  	}
  	&__img {
  		display: none;
  	}
  	&__btn {
  		margin: 0 auto;
  		margin-top: 20px;
  	}
  }
  }


@media (max-width: 524px) {
  .mainscreen {
  	&__text {
  		&-tittle {
  			width: 100%;
  			font-size: 40px;
  		}
  	}
  }
}

@media (max-width: 320px) {
  .mainscreen {
  	&__text {
  		width: 240px;
  	}
  }
}