@charset "UTF-8";

body {
  background-color: #fff;
  font-size: 15px;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: normal;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

/*_header.scss*/

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 88px;
  height: 45px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  font-family: Montserrat;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 19px;
  color: #6a6969;
  margin-left: 45px;
}

.menu__link:hover {
  color: #ffcf2d;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    z-index: 2;
  }

  .menu_active {
    left: 0;
  }

  .menu__item {
    padding-right: 0;
    border: none;
    margin-bottom: 20px;
  }

  .menu__link {
    font-size: 22px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 30px;
    top: 55px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
    z-index: 3;
    padding: 15px 0;
  }

  .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ffcf2d;
    margin-bottom: 2px;
    -webkit-transition: 0.5 all;
    transition: 0.5 all;
  }

  .hamburger_active {
    position: fixed;
  }

  .hamburger_active span {
    margin-bottom: -2px;
  }

  .hamburger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .hamburger_active span:nth-child(2) {
    display: none;
  }

  .hamburger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@media (max-width: 320px) {
  .menu__link {
    font-size: 16px;
  }
}

/*_main.scss*/

.mainscreen {
  padding: 90px 0  200px 0;
}

.mainscreen__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainscreen__text {
  width: 283px;
  margin: 0 0 36px 45px;
  font-family: OpenSans;
  line-height: 1.33;
  letter-spacing: normal;
  color: #313131;
  position: relative;
}

.mainscreen__text::before {
  content: "";
  background-image: url("../img/icon/icon-clock.svg");
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  margin-left: -45px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mainscreen__text-tittle {
  width: 510px;
  margin: 0 0 23px;
  font-family: Montserrat;
  font-size: 55px;
  font-weight: bold;
  line-height: 1.2;
  color: #282828;
}

.mainscreen__btn {
  width: 270px;
  height: 61px;
  margin: 36px 240px 0 0;
  padding: 20px 31px 21px 30px;
  border-radius: 3px;
  background-color: #ffcf2d;
  display: block;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  color: #282828;
  text-align: center;
}

.mainscreen__img {
  max-width: 599px;
  max-height: 460px;
  margin-left: 61px;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (max-width: 768px) {
  .mainscreen {
    padding: 80px 0  80px 0;
  }

  .mainscreen__wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .mainscreen__text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
  }

  .mainscreen__img {
    display: none;
  }

  .mainscreen__btn {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media (max-width: 524px) {
  .mainscreen__text-tittle {
    width: 100%;
    font-size: 40px;
  }
}

@media (max-width: 320px) {
  .mainscreen__text {
    width: 240px;
  }
}

/*_banner.scss*/

.banner {
  padding-bottom: 200px;
}

.banner__block {
  height: 353px;
  padding: 72px 70px;
  border-radius: 18px;
  background-color: #f3f5fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.banner__block-tittle {
  height: 25px;
  margin: 10px 0 20px 0;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  line-height: 2.24;
  color: #282828;
}

.banner__block-text {
  width: 259px;
  min-height: 103px;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.5;
  color: #6d6d6d;
}

@media (max-width: 992px) {
  .banner {
    padding-bottom: 80px;
  }

  .banner__block-tittle {
    font-size: 16px;
  }

  .banner__block-text {
    width: 200px;
    margin-right: 10px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .banner__block-tittle {
    font-size: 16px;
  }

  .banner__block-text {
    width: 170px;
    margin-right: 30px;
    font-size: 14px;
  }

  .banner__block-text:last-child {
    margin-right: 0;
  }
}

@media (max-width: 610px) {
  .banner__block {
    padding: 44px 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }

  .banner__block-item {
    text-align: center;
  }

  .banner__block-text {
    width: 170px;
    margin-right: 30px;
    font-size: 14px;
  }

  .banner__block-text:last-child {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

/*_training.scss*/

.training__img-left {
  width: 271px;
  height: 605px;
}

.training__img-right {
  width: 268px;
  height: 395px;
}

.training__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.training__title {
  margin-bottom: 40px;
  font-family: Montserrat;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #000000;
}

.training__program {
  margin-bottom: 25px;
}

.training__program:last-child {
  margin-bottom: 0;
}

.training__program-wrap {
  width: 465px;
}

.training__program-title {
  width: 405px;
  margin: 0 0 15px 0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.39;
  color: #000000;
}

.training__program-text {
  font-family: OpenSans;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.73;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.training__btn {
  width: 318px;
  height: 65px;
  padding: 22px 93px 23px;
  border-radius: 3px;
  background-color: #ffcf2d;
  height: 20px;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.73;
  color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.training__btn-wrap {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* ordered list */

body {
  counter-reset: bubu;
}

.title {
  font-weight: bold;
  counter-reset: sub-bubu;
}

.title::before {
  counter-increment: bubu;
  content: "" counter(bubu) ". ";
}

.training__program li:not(.title)::before {
  counter-increment: sub-bubu;
  content: "" counter(bubu) "." counter(sub-bubu);
}

.training__program li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.training__program li::before {
  white-space: nowrap;
  padding-right: 5px;
}

@media (max-width: 768px) {
  .training__img-left {
    display: none;
  }

  .training__img-right {
    display: none;
  }

  .training__wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .training__title {
    width: 100%;
    margin-bottom: 80px;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: #000000;
  }

  .training__program-wrap {
    width: 280px;
  }

  .training__program-title {
    width: 280px;
  }

  .training__btn {
    width: 240px;
    font-size: 14px;
    line-height: 1.23;
  }
}

/*_conditions.scss*/

.conditions {
  padding: 200px 0;
}

.conditions__title {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #282828;
  margin-bottom: 80px;
}

.conditions__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.conditions__block {
  width: 270px;
  height: 318px;
  padding: 65px 35px 68px 35px;
  border-radius: 10px;
  background-color: #f3f5fa;
}

.conditions__block-tittle {
  margin: 25px 64px 15px 0;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  color: #282828;
}

.conditions__block-text {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 1.57;
  color: #4d4c4c;
}

.top-line {
  position: relative;
}

.top-line-first:before {
  background-color: #fe5244;
}

.top-line-second:before {
  background-color: #1588eb;
}

.top-line-third:before {
  background-color: #ffcf2d;
}

.top-line-fourth:before {
  background-color: #9a3b82;
}

.top-line:before {
  content: '';
  position: absolute;
  height: 2px;
  border-radius: 7px;
  width: 127px;
  top: 0;
}

@media (max-width: 1014px) {
  .conditions__wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .conditions__block {
    margin-bottom: 30px;
    width: 48%;
  }
}

@media (max-width: 768px) {
  .conditions {
    padding: 140px 0;
  }

  .conditions__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .conditions {
    padding: 100px 0;
    padding-bottom: 40px;
  }

  .conditions__wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .conditions__block {
    margin-bottom: 30px;
    width: 100%;
  }
}

/*_clients.scss*/

.clients {
  padding-bottom: 200px;
}

.clients__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.clients__logo {
  width: 170px;
  height: 129px;
}

@media (max-width: 320px) {
  .clients {
    padding: 50px 0;
  }
}

/*_feadback.scss*/

.feedback {
  padding-bottom: 120px;
}

.feedback__title {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin-bottom: 45px;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feedback__img-right {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35px;
}

.feedback__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.feedback__text {
  margin-bottom: 7px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #282828;
}

.feedback__input {
  width: 270px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #eeeeee;
  margin-bottom: 20px;
  padding: 10px;
  font-family: OpenSans;
  font-size: 14px;
  color: #4d4c4c;
}

.feedback__input:focus {
  outline-color: #ffcf2d;
}

.feedback__label-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 132px;
  height: 32px;
  margin: 11px 0 0;
  padding: 8px 20px 7px;
  border-radius: 5px;
  font-family: OpenSans;
  font-size: 12px;
  text-align: center;
  background-color: #f5f6f7;
  color: #282828;
  cursor: pointer;
}

.feedback__file {
  display: none;
}

.feedback__info {
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feedback__info-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  margin-left: -30px;
}

.feedback__info-text {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 1.27;
  color: #000000;
  position: relative;
  margin-bottom: 15px;
}

.feedback__info-text::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  margin-left: -36px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-size: cover;
}

.feedback__info-text-city::before {
  background-image: url("../img/icon/feedback/Component 4 – 16.svg");
}

.feedback__info-text-email::before {
  background-image: url("../img/icon/feedback/Component 4 – 18.svg");
}

.feedback__info-text-tel::before {
  background-image: url("../img/icon/feedback/Component 4 – 17.svg");
}

.feedback__btn {
  width: 170px;
  height: 40px;
  margin: 148px 0 0 0;
  border-radius: 3px;
  background-color: #ffcf2d;
  border: none;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #282828;
  margin-left: -30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .feedback__img-left {
    display: none;
  }

  .feedback__img-right {
    display: none;
  }
}

@media (max-width: 524px) {
  .feedback__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feedback__label-file {
    display: block;
    margin: 20px auto;
  }

  .feedback__btn {
    margin-top: 40px;
  }
}

/*_footer.scss*/

.footer {
  padding-bottom: 90px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.footer__social-icon {
  margin-right: 30px;
}

.footer__copyright {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-left: 39px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: normal;
  color: #4d4c4c;
}

.line {
  display: block;
  max-width: 1170px;
  height: 2px;
  margin: 0 0 60px;
  opacity: 0.1;
  background-color: #000000;
}

@media (max-width: 320px) {
  .footer {
    padding: 40px 0;
  }

  .footer__wrap {
    /*flex-direction: column;*/
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__left {
    margin-bottom: 20px;
  }

  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer__social-icon {
    margin-right: 0;
  }
}

/*_media.scss*/

@media (max-width: 992px) {
  .container {
    max-width: 962px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 748px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}